
.caja1{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.login{
  display: flex;
  flex-direction: column;
  text-align:justify;
  align-items:center;
  justify-content: center;



  
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 0px;
  box-shadow: 4px 3px 10px rgb(56, 55, 55);
  background-color: rgb(243, 241, 241);


   
}
.login form{
  display: flex;
  flex-direction: column;
  text-align:justify;
  align-items: center;
  justify-content: center;
  
}
.login input {
  border-radius: 2px;
  height: 30px;
  gap: 5px;
  margin:5px;
  border: 1px;
  box-shadow: 1px 1px 3px rgb(56, 55, 55)
}


.login button{
  box-shadow: 1px 1px 3px rgb(56, 55, 55);
  border-radius: 5px;
  
}
.login1{
  text-align: center;
}